<%= turbo_frame_tag dom_id(@book, :bookmark) do %>
  <% if @leaf %>
    <%= link_to book_slug_path(@book, anchor: dom_id(@leaf)), class: "bookmark__link" do %>
      <span class="for-screen-reader">Bookmark: Resume reading <%= @book.title %></span>
    <% end %>

    <%= tag.span class: "bookmark", style: "--progress: #{ @leaf.position_as_percentage }%" do %>
      <div class="flex align-center">
        <span class="bookmark__icon">
          <svg viewBox="0 0 64 64" width="64px" height="64px" xmlns="http://www.w3.org/2000/svg">
            <path d="m17.01 54.01v-42.98.00000045c-.00000025-1.65685 1.34315-3 3-3h24-.00000013c1.65685-.00000007 3 1.34315 3 3v42.98.0001206c0 1.10457-.895431 2-2 2-.34994 0-.693756-.0918173-.997105-.266281l-11.5039-6.61564c-.308638-.17748-.688362-.17748-.997 0l-11.5046 6.6153.00000011-.00000006c-.957413.550849-2.1801.221264-2.73095-.736149-.174564-.303405-.266442-.647312-.266451-.997351z" fill-rule="evenodd" fill="var(--color-marker)" />
          </svg>
        </span>
      </div>
    <% end %>
  <% else %>
    <%= link_to book_slug_path(@book), class: "bookmark__link" do %>
      <span class="for-screen-reader">Start reading <%= @book.title %></span>
    <% end %>
  <% end %>
<% end %>
