<%= house_toolbar id: "house_toolbar" do %>
  <%= house_toolbar_button "bold" do %>
    <%= image_tag "text-bold.svg", aria: { hidden: "true" }, size: "16", class: "colorize--black" %>
    <span class="for-screen-reader">Text style: bold</span>
  <% end %>

  <%= house_toolbar_button "italic" do %>
    <%= image_tag "text-italic.svg", aria: { hidden: "true" }, size: "16", class: "colorize--black" %>
    <span class="for-screen-reader">Text style: italic</span>
  <% end %>

  <%= house_toolbar_button "quote" do %>
    <%= image_tag "text-quote.svg", aria: { hidden: "true" }, size: "18", class: "colorize--black" %>
    <span class="for-screen-reader">Text style: quote</span>
  <% end %>

  <%= house_toolbar_button "code" do %>
    <%= image_tag "text-code.svg", aria: { hidden: "true" }, size: "18", class: "colorize--black" %>
    <span class="for-screen-reader">Text style: code</span>
  <% end %>

  <%= house_toolbar_button "link" do %>
    <%= image_tag "text-link.svg", aria: { hidden: "true" }, size: "18", class: "colorize--black" %>
    <span class="for-screen-reader">Text style: link</span>
  <% end %>

  <%= house_toolbar_button "bulletList" do %>
    <%= image_tag "text-bullets.svg", aria: { hidden: "true" }, size: "18", class: "colorize--black" %>
    <span class="for-screen-reader">Text style: bulleted list</span>
  <% end %>

  <%= house_toolbar_button "numberList" do %>
    <%= image_tag "text-numbers.svg", aria: { hidden: "true" }, size: "18", class: "colorize--black" %>
    <span class="for-screen-reader">Text style: numbered list</span>
  <% end %>

  <%= house_toolbar_file_upload_button do %>
    <%= image_tag "text-image.svg", aria: { hidden: "true" }, size: "18", class: "colorize--black" %>
    <span class="for-screen-reader">Add image</span>
  <% end %>
<% end %>
